<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MySqlDbConnection"
         connectionString="server=160.10.23.6;database=cs3230f15c;uid=bnorman1;pwd=Gz!b8c3uXV;ConvertZeroDateTime=true;" />
  </connectionStrings>
</configuration>